
@model List<Employee>

@{
    int count = 0;
}
<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Employee Table</h4>
                <p class="card-description">
                    <a class="btn btn-success btn-info" asp-action="create" asp-controller="employee">Create</a>
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (Employee employees in Model)
                            {
                                count++;
                                <tr>
                                <td>@count</td>
                                    <td><img src="assets/images/@employees.ImageUrl" alt="" /></td>
                                <td>@employees.Name @employees.Surname</td>
                                <td>
                                    <a class="btn btn-warning btn-info" asp-action="update" asp-controller="employee" asp-route-id="@employees.Id">Update</a>
                                    <a class="btn btn-warning btn-info" asp-action="details" asp-controller="employee" asp-route-id="@employees.Id">Details</a>
                                    <a class="btn btn-warning btn-info" asp-action="delete" asp-controller="employee" asp-route-id="@employees.Id">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
